<main *ngIf="!showNextComponent">
  <section class="header-section">
    <p class="line">{{helloText}}</p>
    <button class="skip-button text" (click)="onSkipIntro()">Skip</button>
  </section>
</main>
<main [class.display-none]="!showNextComponent">
  <section class="header-section" id="homeRef">
    <button *ngIf="isMobile" class="menu-icon" (click)="toggleMenu()" [class.open]="isOpenMenu">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav [ngClass]="{ 'mobile-menu': isMobile, 'hide-menu': !isOpenMenu, 'show-menu' : isOpenMenu, }">
      <div class="flex" [ngClass]="{ 'column': isMobile }">
        <button class="nav-button" (click)="scrollTo('aboutRef')">
          {{ 'HEADER.ABOUT' | translate }}
        </button>
        <button class="nav-button" (click)="scrollTo('skillsRef')">
          {{ 'HEADER.SKILLS' | translate }}
        </button>
        <button class="nav-button" (click)="scrollTo('projectsRef')">
          {{ 'HEADER.PROJECTS' | translate }}
        </button>
        <div class="flex languages">
          <button class="nav-button" (click)="onChangeLanguage('en')">
            En
          </button>
          <button class="nav-button" (click)="onChangeLanguage('pl')">
            Pl
          </button>
          <button class="nav-button" (click)="onChangeLanguage('ua')">
            Ua
          </button>
        </div>
        <button class="nav-button theme-changer" (click)="onThemeSwitchChange()">
        </button>
      </div>
    </nav>
    <h1 class="main-text">
      <p>{{ 'HEADER.HI' | translate }}</p>
      <p>{{ 'HEADER.NAME' | translate }}</p>
      <p>{{ 'HEADER.DEVELOPER' | translate }}</p>
    </h1>
    <div class="waveWrapperInner bgTop">
      <div class="wave waveTop"></div>
    </div>
    <div class="waveWrapperInner bgMiddle">
      <div class="wave waveMiddle"></div>
    </div>
    <div class="waveWrapperInner bgBottom">
      <div class="wave waveBottom"></div>
    </div>
  </section>
  <section id="aboutRef">
    <h2>{{ 'HEADER.ABOUT' | translate }}</h2>
    <div class="about-wrapper section-params">
      <div class="img-wrapper">
        <img src="assets/img/photo.webp" alt="my photo" loading="lazy">
      </div>
      <div class="text-wrapper text">
        <p>{{ 'ABOUT.ABOUT_ME' | translate }}</p>
        <div>
          <p>{{ 'ABOUT.LOCATION' | translate }}</p>
          <p>{{ 'ABOUT.LANGUAGES' | translate }}</p>
          <p>{{ 'ABOUT.EDUCATION' | translate }}</p>
        </div>
      </div>
    </div>
  </section>
  <section id="skillsRef">
    <h2>{{ 'HEADER.SKILLS' | translate }}</h2>
    <div class="skills-grid">
      <div *ngFor="let language of config.languages" class="flex column skill-container">
        <img src="{{language.icon}}">
        <span class="text">{{language.title}}</span>
      </div>
    </div>
  </section>
  <section id="projectsRef">
    <h2>{{ 'HEADER.PROJECTS' | translate }}</h2>
    <div class="projects-container" #projectsContainer>
      <div *ngFor="let project of projects" class="project">
        <app-project [project]="project"></app-project>
      </div>
      <div class="text open-github project">
        <a href="https://github.com/{{config.github}}" target="_blank" class="open-github-link">
          {{ 'PROJECTS.HERE' | translate }}</a>
      </div>
    </div>
  </section>
  <footer class="flex text">
    <div class="grid">
      <div>E-mail:</div>
      <div><a href="mailto:{{config.github}}">{{config.email}}</a></div>
      <div>Github:</div>
      <div><a href="https://github.com/{{config.github}}" target="_blank">{{config.github}}</a></div>
      <div>Telegram:</div>
      <div><a href="https://t.me/{{config.telegram}}" target="_blank">{{config.telegram}}</a></div>
      <div>LinkedIn:</div>
      <div><a href="{{config.linkedIn}}" target="_blank">LinkedIn</a></div>
    </div>
    <div [ngClass]="{ 'flex column': !isMobile, 'center-position': isMobile }">
      <button class="text" (click)="scrollTo('homeRef')">
        {{ 'FOOTER.HOME' | translate }}
      </button>
      <button class="text" (click)="scrollTo('aboutRef')">
        {{ 'HEADER.ABOUT' | translate }}
      </button>
      <button class="text" (click)="scrollTo('skillsRef')">
        {{ 'HEADER.SKILLS' | translate }}
      </button>
      <button class="text" (click)="scrollTo('projectsRef')">
        {{ 'HEADER.PROJECTS' | translate }}
      </button>
    </div>
  </footer>
</main>