@keyframes fading {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }

    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }

    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.header-section>* {
    animation: fading 1s;
}

section {
    height: 100vh;
    background: var(--section-background);
}

section:first-child {
    background: var(--header-background);
}

button {
    border: none;
    background: none;
    font-family: var(--text-font-family);
}

.line {
    font-size: min(8vw, 60px);
}

.skip-button {
    text-decoration: underline;
    bottom: 5vh;
    padding: 10px 0;
    position: fixed;
    margin-left: calc(50vw - 2vw);
    cursor: pointer;
}

.nav-button {
    color: var(--nav-text);
    font-size: min(5vw, 32px);
    cursor: pointer;
    transition: font-size 1s;
}

.line {
    margin: auto;
    text-align: center;
    padding-top: calc(50vh - 60px);
    font-family: var(--header-font-family);
}

.main-text {
    font-weight: inherit;
    font-family: var(--header-font-family);
    font-size: 40px;
    margin-top: calc(40vh - 48px - 40px);
    text-align: left;
    margin-left: 5vw;
    color: var(--nav-text);
}

.theme-changer {
    background: var(--theme-changer-background);
    background-size: cover;
    width: min(10vw, 60px);
    height: min(10vw, 60px);
}

.flex {
    display: flex;
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.section-params {
    padding-top: 8vh;
    width: min(85vw, 90%);
    margin: auto;
    height: 70vh;
}

h2 {
    text-align: center;
    border-bottom: 2px solid var(--header-text-underline);
    width: fit-content;
    padding: 4vh 5vw 2vh;
    color: var(--header-text);
    font-family: var(--header-font-family);
    font-size: min(10vw, 64px);
    font-weight: 300;
    margin: auto;
}

.image {
    width: max(26vw, 300px);
    box-shadow: 0px 0px 20px 10px var(--shadow);
}

.text {
    font-family: var(--text-font-family);
    font-size: clamp(16px, 1vw, 20px);
    color: var(--text);
}

.circle {
    width: min(5vw, 36px);
    height: min(5vw, 36px);
    display: inline-table;
    vertical-align: middle;
    background-color: var(--circle-color);
    border-radius: 50%;
    margin-right: 1vw;
}

footer {
    background: var(--footer-background);
    padding: 1vh 2vw;

    button {
        margin: 0;
        text-align: right;
        padding: 0.5vh;
    }
}

.waveAnimation {
    .waveTop {
        background-size: 50% 100px;
        background-image: url('../../assets/img/wave-top.png');
        animation: move-wave 3s;
        animation: move-wave 3s;
        animation-delay: 1s;
        animation-delay: 1s;
    }

    .waveMiddle {
        background-size: 50% 120px;
        background-image: url('../../assets/img/wave-mid.png');
        animation: move_wave 10s linear infinite;
    }

    .waveBottom {
        background-size: 50% 100px;
        background-image: url('../../assets/img/wave-bot.png');
        animation: move_wave 15s linear infinite;
    }

    .waveWrapperInner {
        position: absolute;
        width: 100%;
        overflow: hidden;
        height: 20%;
        bottom: 0px;
    }

    .bgTop {
        z-index: 15;
        opacity: 0.5;
    }

    .bgMiddle {
        z-index: 10;
        opacity: 0.75;
    }

    .bgBottom {
        z-index: 5;
    }

    .wave {
        position: absolute;
        left: 0;
        width: 200%;
        height: 100%;
        background-repeat: repeat no-repeat;
        background-position: 0 bottom;
        transform-origin: center bottom;
    }
}

.second-column {
    padding: 2vh 0;
}

.skill-button {
    width: max(100px, 10vw);
    height: min(10vw, 6vh);
    font-size: min(4vw, 28px);
    font-weight: bold;
    color: var(--skill-button-color);
    background-color: var(--circle-color);
    border-radius: 8px;
}

a {
    text-decoration: underline;
    cursor: pointer;
}

.project-link {
    text-align: center;
    color: var(--link-color);
}

@media screen and (orientation: landscape) {
    nav {
        padding: 4vh 2vw 4vh 30vw;
        font-size: 48px;

        .nav-button:hover {
            font-size: 40px;
        }
    }

    .image {
        margin-left: 6vw;
        height: fit-content;
    }

    .first-column {
        width: 15vw;
    }

    .skill-buttons {
        width: 50vw;
        padding: 10vh 0vw 10vh 3vw;
    }

    .skill-button {
        width: 10vw;
        height: 6vh;
        font-size: 28px;
        font-weight: bold;
        color: var(--skill-button-color);
        background-color: var(--circle-color);
        border-radius: 8px;
    }

    .column {
        flex-direction: column;

        .image {
            width: max(10vw, 400px);
            height: fit-content;
            box-shadow: 0px 0px 20px 10px var(--shadow);
            margin: 0;
            transition: width 1s;
        }

        .image:hover {
            width: max(15vw, 500px);
        }
    }

    footer {
        margin-top: -16.2vh;
    }
}

@media screen and (orientation: portrait) {

    .humburger {
        background-image: url('../../assets/img/menu.svg');
        background-size: cover;
        width: 60px;
        height: 60px;
    }

    .mobile-menu {
        width: 100vw;
        height: 30vh;
        position: fixed;
        text-align: center;
    }

    .hide-menu {
        top: -170px;
        position: inherit;
        width: inherit;
        transition: top 1s;
    }

    .show-menu {
        top: 60px;
        position: inherit;
        width: inherit;
        transition: top 1s;
    }

    .image {
        margin: 4vh auto;
    }

    .section-params {
        padding-top: 8vh;
        width: min(85vw, 90%);
        margin: auto;
        height: initial;
    }

    section:not(:first-child) {
        height: initial;
    }

    .first-column {
        text-align: center;
    }

    .theme-changer {
        margin: auto;
    }

    .flex {
        flex-wrap: wrap;
    }

    .skill-buttons-mobile {
        width: 70vw;
        margin: 3vh auto;
    }

    footer table {
        width: 96vw;

        td:not(:first-child) {
            text-align: right;
        }
    }

    .center-position {
        margin: auto;
    }

    .project-link {
        margin-block-end: 0;
    }
}