@keyframes fading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

main {
  background: var(--section-background);
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: var(--text);
}

p {
  margin: 0;
}

section {
  padding: 40px 0;
}

section:first-child {
  background: var(--header-background);
  height: 100vh;
  padding: 0;
}

button {
  border: none;
  background: none;
  font-family: var(--text-font-family);
}

h2 {
  text-align: center;
  border-bottom: 2px solid var(--header-text-underline);
  width: fit-content;
  padding: 4vh 5vw 2vh;
  color: var(--header-text);
  font-size: min(10vw, 64px);
  font-weight: 300;
  margin: auto;
}

footer {
  background: var(--footer-background);
  padding: 1vh 2vw;
}

.open-github-link {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.display-none {
  display: none;
}

.header-section>* {
  animation: fading 1s;
}

.languages {
  flex-wrap: nowrap;
  justify-content: space-between;

  .nav-button {
    width: 50px;
  }
}

.line {
  font-size: 60px;
  color: var(--text);
  margin: auto;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  .text-wrapper {
    width: 50%;
    min-width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .img-wrapper {
    position: relative;
    width: clamp(300px, 80%, 556px);
    align-self: center;

    img {
      min-width: 300px;
      width: 100%;
      border-radius: 24px;
    }
  }
}

.skip-button {
  text-decoration: underline;
  bottom: 5vh;
  position: fixed;
  transform: translateX(-50%);
  left: 50%;
  cursor: pointer;
}

.nav-button {
  color: var(--nav-text);
  font-size: min(5vw, 32px);
  cursor: pointer;
  transition: font-size 1s;
}

.main-text {
  font-weight: inherit;
  font-size: min(10vw, 40px);
  margin-left: 5vw;
  color: var(--nav-text);
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}

.theme-changer {
  background: var(--theme-changer-background);
  background-size: cover;
  width: min(10vw, 60px);
  height: min(10vw, 60px);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  flex-direction: column;
}

.section-params {
  padding-top: 8vh;
  width: min(85vw, 90%);
  margin: auto;
  height: 70vh;
}

.skills-grid {
  display: grid;
  grid-template-rows: repeat(2, 200px);
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  justify-content: center;
  padding-top: 8vh;

  .skill-container {
    width: 100%;
    align-items: center;
    justify-content: space-between;

    img {
      width: 100%;
    }

    span {
      font-size: 1em;
      text-align: center;
    }
  }
}

.projects-container::-webkit-scrollbar {
  display: none;
}

.projects-container {
  display: flex;
  gap: 24px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 60px 0 0;
  padding: 20px 0;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  &:hover {
    cursor: grab;
  }

  .project {
    scroll-snap-align: center;
  }

  .project:last-child {
    margin-right: 80px;
  }

  .project:first-child {
    margin-left: 48px;
  }
}

.grid {
  width: calc(310px - 4vw);
  display: grid;
  justify-items: stretch;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 100px 150px;
  gap: 10px;
}

.open-github {
  min-width: 300px;
  text-align: center;
}

nav {
  padding: 4vh 2vw;
  font-size: 48px;

  .nav-button:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 1024px) {
  .line {
    font-size: 8vw;
  }

  .mobile-menu {
    position: absolute;
    text-align: center;
    left: 50%;
    transition: top 1s;
    transform: translateX(-50%);
  }

  .hide-menu {
    top: -400px;
  }

  .show-menu {
    top: 0px;
  }

  .about-wrapper {
    flex-direction: column-reverse;
    justify-content: center;

    .text-wrapper {
      width: 100%;
      min-width: 280px;
    }
  }

  .section-params {
    height: initial;
  }

  footer {
    flex-wrap: wrap;
  }

  .center-position {
    margin: auto;
  }

  .projects-container {
    .project:last-child {
      margin-right: 10px;
    }

    .project:first-child {
      margin-left: 10px;
    }
  }

  .skills-grid {
    grid-template-rows: repeat(6, 200px);
    grid-template-columns: repeat(2, 120px);
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .skills-grid {
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(4, 160px);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .skills-grid {
    grid-template-rows: repeat(4, 200px);
    grid-template-columns: repeat(3, 160px);
  }
}