[data-theme="light"] {
    --nav-text: #272525;

    --header-background: linear-gradient(#D0C3FF, #ffffff);
    --header-text-scrollbar: #9979F5;
    --header-text: #9979F5;
    --header-text-underline: #605C66;

    --theme-changer-background: url(assets/img/light_theme.svg);

    --section-background: #ffffff;
    --shadow: rgba(0, 0, 0, 0.25);
    --circle-color: #A593E6;
    --text: #605C66;
    --footer-background: linear-gradient(#ffffff, #D0C3FF);
    --section-width: 85vw;
    --header-font-family: 'Montserrat';
    --text-font-family: 'Montserrat Alternates';
    --link-color: #703FAD;
    --skill-button-color: #ffffff
  }
  
[data-theme="dark"] {
    --nav-text: #ffffff;

    --header-background: linear-gradient(#D0C3FF -100%,#230B48);
    --header-text-scrollbar: #D0C3FF;
    --header-text: #ffffff;
    --header-text-underline: #ffffff;
    
    --theme-changer-background: url(assets/img/dark_theme.svg);

    --section-background: #230B48;
    --shadow: rgba(255, 255, 255, 0.25);
    --circle-color: #D0C3FF;
    --text: #ffffff;
    --footer-background: linear-gradient( #230B48,#D0C3FF);
    --section-width: 85vw;
    --header-font-family: 'Montserrat';
    --text-font-family: 'Montserrat Alternates';
    --link-color: #D0C3FF;
    --skill-button-color: #230B48;
  }