@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400&display=swap');
@import "themes";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  background-color: #230B48;
  font-family: var(--text-font-family);
}

.text {
  font-size: clamp(16px, 1vw, 20px);
  color: var(--text);
  line-height: 32px;
  letter-spacing: 0.02em;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--header-text-scrollbar);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--header-text-scrollbar);
}